@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .outer-hero{
        clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    }
    .outer-hero-mobile{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .inner-hero {
        width: 100%;
        height: 100%;
        z-index: 100;
        bottom: 0;
        left: 0;
        /* background: #4B4AEF; */
        background-image: url("../assets/images/hero-mask.svg");
    }
}

